@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography Classes */
.display-large {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.display-large');
  font-weight: theme('fontWeight.display');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.display-large:hover {
  color: #185c93;
}

.display-large:active {
  color: #0e3758;
}

.display-medium {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.display-medium');
  font-weight: theme('fontWeight.display');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.display-medium:hover {
  color: #185c93;
}

.display-medium:active {
  color: #0e3758;
}

.display-small {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.display-small');
  font-weight: theme('fontWeight.display');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.display-small:hover {
  color: #185c93;
}

.display-small:active {
  color: #0e3758;
}

.headline-large {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.headline-large');
  font-weight: theme('fontWeight.headline');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.headline-large:hover {
  color: #185c93;
}

.headline-large:active {
  color: #0e3758;
}

.headline-medium {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.headline-medium');
  font-weight: theme('fontWeight.headline');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.headline-medium:hover {
  color: #185c93;
}

.headline-medium:active {
  color: #0e3758;
}

.headline-small {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.headline-small');
  font-weight: theme('fontWeight.headline');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.headline-small:hover {
  color: #185c93;
}

.headline-small:active {
  color: #0e3758;
}

.title-large {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.title-large');
  font-weight: theme('fontWeight.title');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.title-no-hover-large {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.title-large');
  font-weight: theme('fontWeight.title');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.title-large:hover {
  color: #185c93;
}

.title-large:active {
  color: #0e3758;
}

.title-medium {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.title-medium');
  font-weight: theme('fontWeight.title');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.title-no-hover-medium {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.title-medium');
  font-weight: theme('fontWeight.title');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.title-medium:hover {
  color: #185c93;
}

.title-medium:active {
  color: #0e3758;
}

.title-small {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.title-small');
  font-weight: theme('fontWeight.title');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.title-no-hover-small {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.title-small');
  font-weight: theme('fontWeight.title');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.title-small:hover {
  color: #185c93;
}

.title-small:active {
  color: #0e3758;
}

.body-large {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.body-large');
  font-weight: theme('fontWeight.body-regular');
  color: theme('colors.black');
}

.body-medium {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.body-medium');
  font-weight: theme('fontWeight.body-regular');
  color: theme('colors.black');
}

.body-small {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.body-small');
  font-weight: theme('fontWeight.body-regular');
  color: theme('colors.black');
}

.button-large {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.button-large');
  font-weight: theme('fontWeight.button');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.button-large:hover {
  color: #185c93;
}

.button-large:active {
  color: #0e3758;
}

.button-medium {
  font-family: 'Inter', sans-serif;
  font-size: theme('fontSize.button-medium');
  font-weight: theme('fontWeight.button');
  color: theme('colors.black');
  transition: color 0.3s ease;
}

.button-medium:hover {
  color: #185c93;
}

.button-medium:active {
  color: #0e3758;
}

.logo {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0;
  vertical-align: middle;
}
